* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #063454;
}

:root {
    --azul: #063454;
    --vermelho: #f51f4b;
    --cinza: #eeeeee;
    --texto: #647582;
}

.cabecalho {
    height: 75px;
    background: var(--vermelho);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7%;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #ffd3dc;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.banner {
    min-height: 330px;

    background: var(--azul);

    color: white;

    padding: 60px 9%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner span {
    color: #ff718d;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
}

.banner h1 {
    font-size: 52px;
    margin: 15px 0;
}

.banner p {
    color: #cbd8df;
    line-height: 1.6;
}

.imagem {

    width: 180px;
    height: 180px;

    background: white;

    color: var(--azul);

    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 80px;
}

.conteudo {
    padding: 80px 8%;
}

.titulo {
    text-align: center;
    margin-bottom: 40px;
}

.titulo span {
    color: var(--vermelho);

    font-size: 11px;

    font-weight: bold;

    letter-spacing: 2px;
}

.titulo h2 {
    font-size: 35px;
    margin-top: 12px;
}

.passos {

    max-width: 1100px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.passo {

    background: var(--cinza);

    padding: 30px;

    border-radius: 10px;
}

.passo strong {
    color: var(--vermelho);
}

.passo h3 {
    margin: 12px 0;
}

.passo p {

    color: var(--texto);

    line-height: 1.6;
}

.parte-final {

    background: var(--azul);

    color: white;

    padding: 50px 8%;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.parte-final p {

    color: #ccd9df;

    margin-top: 10px;
}

.parte-final a {

    background: var(--vermelho);

    color: white;

    padding: 13px 22px;

    border-radius: 6px;

    text-decoration: none;

    font-weight: bold;
}

footer {

    background: var(--vermelho);

    color: white;

    text-align: center;

    padding: 35px;
}

footer span {
    color: #ffd3dc;
}

footer p {
    margin-top: 10px;
}

.saiba-mais {
        cursor: pointer;
    }

@media(max-width: 700px) {

    .menu {
        display: none;
    }

    .banner {
        flex-direction: column;
        text-align: center;
        gap: 35px;
    }

    .passos {
        grid-template-columns: 1fr;
    }

    .parte-final {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
}

